.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 2rem;

  .filter-text {
    margin-right: 1rem;
    font-weight: 800;
    font-size: 2rem;
  }

  .filter-choice {
    margin-top: 1rem;
    font-size: 2rem;
    color: #888888;
    cursor: pointer;
  }
}
